<div class="container-fluid">
    <div class="container row">

        <h5>
            Arenys de Mar, una villa de cara al mar con 400 años de historia</h5>

        <p>La mítica Sinera de Salvador Espriu conserva el encanto de una población tradicionalmente marinera, con un
            rico patrimonio arquitectónico y festivo. Pasear por la riera, eje vital y comercial de la población, caminar por
            los llamados rials (caminos de tierra por los que discurre el exceso de agua hacia el mar) o probar platos
            marineros en
            los restaurantes del puerto tras visitar la lonja del pescado son algunas de las actividades que invitan al
            visitante a descubrir una población que atesora joyas como el retablo barroco de la iglesia de Santa María,
            un cementerio monumental, la antigua fábrica de licor Calisay o el Museo Marès del Encaje.</p>

        <p>Al casco urbano de Arenys de Mar hay una serie de lugares de visita obligada. La iglesia parroquial de Santa
            Maria tiene uno de los retablos barrocos más importantes y muy conservados de Cataluña, construido al inicio
            del siglo XVIII por el escultor Pau Costa. En lo alto de la calle de la Iglesia hay el Museo Marino de la
            Punta, con el contenido de randas de los siglos XVI-XIX más importante de Europa, y en el edificio del
            antiguo Estudio de Pilotos, fundado por Josep Baralt, ahora se aloja el Museo Mollfulleda de Mineralogía,
            que tiene una de las mejores y más completas colecciones de minerales de Cataluña.

        <p> A ambos lados de la parte baja de la Riera, se esconden una serie de lugares urbanos y casas de notable
            belleza. El recorrido por este entramado de calles lleva agradables recompensas. Se conservan todavía
            algunas de las torres de defensa construidas contra la piratería bereber. El Archivo Histórico Fidel Fita ha
            recuperado y guarda importante documentación histórica de Arenys y de toda la comarca. Su trabajo ha estado
            capital para preservar la memoria histórica arenyenca.</p>

        <p> En lo alto del Cerro de la Piedad, a poniente de la población, hay el cementerio de Arenys. Es un ejemplo
            característico de los cementerios marineros mediterráneos. Salvador Espriu lo convirtió en mito literario
            con la obra poética Cementerio de Sinera. En el interior hay algunos trabajos escultóricos de notable
            belleza, obra de artistas modernistas de renombre como Josep Llimona y Venanci Vallmitjana.</p>

        <p> La vista desde el cementerio es espléndida y se pueden ver los principales elementos y símbolos de la
            geografía arenyenca. A poniente, la silueta de la Torre de los Encantados, vigilando los límites entre los
            obispados de Girona y Barcelona. Más en el interior contemplan la escena los omnipresentes Tres Cerros. La
            vista hacia levante lo acapara el puerto, donde destaca el antiguo edificio del Montcalvari. Un vistazo,
            desde esta balconada privilegiada nos permite identificar la iglesia de Santa Maria, los diversos conventos
            de órdenes religiosas, el caserón neoclásico dado por el hijo de la villa Josep Xifré y al horizonte,
            arriba, la gran masa montañosa del Montnegre.</p>


    </div>
</div>