.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FEA47F ; 
    
  }

  .container{
    margin-top: 200px;
    margin-bottom: 200px;
  }