<div class="container-fluid">

    <div class="container ">
        <div class="title-container">

            <h5 class="title">
                Arenys de Mar, un pueblo de cara al mar</h5>
        </div>

<p>     EVENTOPIA es una aplicacion para conectar a la gente, donde puedes crear y compartir tus propios eventos y o apuntarte a todos aquellos creados por otros usuarios!
</p>   
        estamos ubicados en arenys de mar

       <p> Paso 1: Registro como Usuario

        Abre la aplicación.
        Selecciona la opción "Registro" o "Crear una cuenta nueva".
        Completa la información requerida, como tu nombre, dirección de correo electrónico y contraseña.
        Acepta los términos y condiciones, si los hubiera.
        Haz clic en "Registrarse" o "Crear cuenta" para finalizar el proceso de registro.</p>
        <p>Paso 2: Iniciar Sesión
        
        Después de registrarte, inicia sesión en tu cuenta utilizando tu correo electrónico y contraseña.</p>
        Paso 3: Explora Eventos
        
        Una vez dentro de la aplicación, navega por la lista de eventos disponibles. Puedes ver eventos creados por otros usuarios.
        Paso 4: Crear un Evento (si eres el organizador)
        
        Si deseas crear tu propio evento, ve a la opción "Crear Evento" o similar.
        Llena los detalles del evento, como título, fecha, hora, ubicación y una descripción.
        Configura las preferencias de apuntarse o desapuntarse, es decir, si otros usuarios pueden unirse al evento.
        Guarda y publica el evento.
        Paso 5: Apuntarse a un Evento
        
        Si encuentras un evento que te interesa, selecciona el evento para obtener más detalles.
        Si el evento permite apuntarse, verás un botón o enlace para "Apuntarse" o "Unirse".
        Haz clic en este botón para confirmar tu asistencia al evento.
        Paso 6: Panel de Control
        
        En tu perfil de usuario, tendrás un panel de control donde se mostrarán los eventos a los que te has apuntado.
        Puedes acceder a este panel para gestionar tus eventos y ver un resumen de tus actividades.
        Paso 7: Editar o Eliminar Eventos (solo si eres el organizador)
        
        Si eres el creador de un evento, tendrás la capacidad de editarlo o eliminarlo en cualquier momento.
        Ve a la sección "Mis Eventos" o similar en tu perfil y selecciona el evento que deseas modificar o eliminar.
        Paso 8: Apuntarse o Desapuntarse de Eventos
        
        En cualquier momento, puedes apuntarte o desapuntarte de los eventos en los que estás interesado desde la lista de eventos.
        Paso 9: Interactúa con la Comunidad
        
        No dudes en interactuar con otros usuarios a través de la aplicación, comentar en eventos, hacer preguntas o participar en discusiones relacionadas con los eventos locales.
        Paso 10: Disfruta de la Comunidad
        
        ¡Disfruta de la comunidad de Arenys de Mar y mantente al tanto de los eventos locales gracias a tu aplicación!




    </div>
</div>