/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

body{
  background-color: #FFF9F3;
}

.title {
  font-size: 25px; /* Tamaño de fuente más grande */
  font-family: 'Raleway';
  color: #435420; /* Cambiar el color del texto */
  letter-spacing: 2px; /* Espaciado entre caracteres */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway' }




