/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

body{
  background-color: #fad390;
}


.title {
  font-size: 24px; /* Tamaño de fuente más grande */
  font-family: 'Raleway';

  margin-bottom: 10px; /* Añadir espacio inferior */
  color: #549eb9; /* Cambiar el color del texto */
  letter-spacing: 2px; /* Espaciado entre caracteres */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
}



html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway' }




