/* You can add global styles to this file, and also import other style files */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

body{
  background-color: #fad390;
}


.title {
  font-size: 24px; /* Tamaño de fuente más grande */
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px; /* Añadir espacio inferior */
  color: #218c74; /* Cambiar el color del texto */
  letter-spacing: 2px; /* Espaciado entre caracteres */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
}


/* naranja */
/* #FEA47F */
/* #F97F51 */

/* color: #218c74; */

/* font-family: Arial, Helvetica, sans-serif */