.nav-link:hover {
  color: black;
  transform: scale(1.1);
}

.logo {
  font-size: 30px;
  padding-left: 20px ;
  color: white;
}

.logo:hover{
  color: black;
}

.nav-link {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold; 
  transition: transform 0.3s ease; 
  /* border-radius: 250px; */
  margin-right: 10px;
  display: inline-block; 
}

.navbar {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.navbar-toggler{
  background-color: white;
}

/* Estilos para los botones datos personales y cerrar sesion*/
.navbar .nav-link.btn.btn-sm {
  padding: 5px;
  font-size: 15px;
}


.navbar-white-bg {
  background-color: rgba(250, 211, 144, 0.7);
  /* Ajusta el valor alfa (0.7) según tus preferencias */
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  /* Ajusta según tus preferencias */
}