img {
  max-width: 200px;
  max-height: 200px;
  padding-left: 20px;
}

.navbar-edit {
  width: 100%;
  justify-content: center;
}

.nav-center {
  padding: 20px;
}

.btn {
  background-color: #D1D3AA;
  color: white;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #D1D3AA;
  transform: translateY(-2px);
}

.btn-sm {
  font-size: 14px;
  width: 80px;
  height: 25px;
  padding: 0;
  line-height: 25px;
}

.nav-link {
  color: #435420;
  font-family: 'Raleway';
  cursor: pointer;
  font-size: 17px;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  color: #435420;
  transform: scale(1.1);
}

.panel-end {
  padding-right: 30px;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: #435420;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

.login {
  font-size: 14px;
  background-color: #D1D3AA;
}

/* Estilos para los botones datos personales y cerrar sesion*/
.navbar .nav-link.btn.btn-sm {
  font-size: 15px;
}

.navbar-white-bg {
  background-color: #FFF9F3;
}

/***** Collapse Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom, margin, transform;
  transition-delay: calc(0s + 0.35s), 0s, 0s;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: top, opacity;
  transition-duration: 0.35s, 0s;
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked+.toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: calc(11px + 4px/ 2);
  transform: rotate(45deg);
  transition-delay: calc(0s + 0.35s * .3), calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

#checkbox:checked+.toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.35s, 0s;
  transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(-45deg);
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

/* Estilos para pantallas grandes (por ejemplo, pantallas de 768px o más) */
@media screen and (min-width: 990px) {
  #menuToggle {
    display: none;
    /* Ocultar el menú toggle en pantallas grandes */
  }
}

/* pantallas pequeñas (menores de 576px) */
@media (max-width: 990px) {

  nav {
    background: white;
  }

  .nav-center {
    padding: 0;
    padding-left: 20px;
  }

  .nav-end {
    padding: 0;
    padding-left: 35px;
  }

  .nav-item {
    text-align: center;
  }
}