.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    background-color: #fad390;
  }
  .card{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .btn{
    background-color: #fad390;
  }

  .text-danger{
    text-align: start;
  }
  