.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  /* padding-top: 100px; */
    background-color: #fad390;
  }
  .card{
    margin-top: 100px;
    margin-bottom: 100px;
    /* padding-top: 100px; */
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .btn{
    background-color: #fad390;
  }

  .text-danger{
    text-align: start;
  }