.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFF9F3;
}

.event-card {
  background-color: #FFF9F3;
  padding: 20px;
  margin: 20px;
  max-width: 60%;
  font-family: 'Raleway';
  margin: 10px auto;
}

.event-title {
  font-size: 25px;
  max-width: 100%;
  font-family: 'Raleway';
  font-weight: bold;
}

.title {
  font-size: 25px;
  color: #435420;
  margin-bottom: 30px;
  font-family: 'Raleway';
  font-weight: bold;
}

.event-details {
  color: #435420;
  font-size: 16px;
  font-family: 'Raleway';
  line-height: 1.5em;
}

.btn {
  background-color: #D1D3AA;
  color: #435420;
  display: block;
  margin: 30px auto;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.btn:hover {
  background-color: #D1D3AA;
  transform: translateY(-2px);
}

.btn-me-apunto {
  display: block;
  margin-left: auto;
}

.btn-calendar {
  padding-top: 50px;
  margin: 50px;
  max-width: 100%;
  font-family: 'Raleway';
}

.form-group {
  margin-bottom: 15px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #435420;
  border-radius: 4px;
  font-size: 16px;
}

/* Añade una media query para ajustar el diseño en tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {

  .title {
    font-size: 20px;
  }

  .event-details {
    font-size: 14px;
  }

  .event-card {
    max-width: 90%;
  }
}