<div class="container-fluid">

  <div class="btn-calendar">

    <button class="btn btn-event  " [routerLink]="['/ver-eventos']">Volver a Calendario de Eventos</button>
  </div>
  <h5 class="event-title">Detalles del evento</h5>
  <div class="event-card">
    
    <h5 class="title">{{ event?.title | titlecase }}</h5>
    <button class="btn btn-event btn-me-apunto" *ngIf="userInEvent === false" (click)="openDialogCustom(apuntarmeAlEventoTemplate)"  >Me apunto!
    </button>
    <button class="btn btn-event btn-me-apunto" *ngIf="userInEvent === true" (click)="openDialogCustom(borrarmeDelEventoTemplate)"  >No voy!
    </button>
    <p class="event-details"><strong> Categoria: </strong> {{ event?.type }}</p>
    <p class="event-details"><strong>Fecha:</strong> {{ event?.date | date }}</p>
    <p class="event-details"><strong>Hora de inicio:</strong> {{ event?.startTime }}</p>
    <p class="event-details"><strong>Hora de fin:</strong> {{ event?.endTime }}</p>
    <p class="event-details"><strong>Lugar:</strong> {{ event?.location | titlecase }}</p>
    <p class="event-details"><strong>Capacidad máxima:</strong> {{ event?.capacity }}</p>
    <p class="event-details"><strong>Numeros de participantes apuntados:</strong> {{ event?.registeredParticipants?.length }}</p>
    <p class="event-details"><strong>Descripción:</strong> {{ event?.description }}</p>

    <button class="btn btn-event " *ngIf="isCreatorEvent === true" (click)="openDialogCustom(eliminarEventoTemplate)">Eliminar
      Evento</button>
    <button class="btn btn-event " *ngIf="isCreatorEvent === true" (click)="showEventForm = !showEventForm">Modificar
      Evento</button>
  </div>


  <!-- DIALOG / MODAL  -->
  <ng-template #eliminarEventoTemplate>
    <div mat-dialog-content>Estas seguro/a que deseas eliminar el evento?
      <div mat-dialog-actions>
        <button class="btn btn-event" mat-dialog-close>No</button>
        <button class="btn btn-event " (click)="deleteEvent()" mat-dialog-close>Si</button>
      </div>
    </div>
  </ng-template>

  <ng-template #borrarmeDelEventoTemplate>
    <div mat-dialog-content>Estas seguro/a que deseas desapuntarte del evento?
      <div mat-dialog-actions>
        <button class="btn btn-event" mat-dialog-close>No</button>
        <button class="btn btn-event " (click)="unregisterEvent(event!)" [routerLink]="['/panel-control']" mat-dialog-close>Si</button>
      </div>
    </div>
  </ng-template>

  <ng-template #apuntarmeAlEventoTemplate>
    <div mat-dialog-content>Estas seguro/a que deseas apuntarte al evento?
      <div mat-dialog-actions>
        <button class="btn btn-event" mat-dialog-close>No</button>
        <button class="btn btn-event " (click)="joinEvent(event!)" [routerLink]="['/panel-control']" mat-dialog-close>Si</button>
      </div>
    </div>
  </ng-template>



  <!-- FORMULARIO DE EDICION / CAMBIAR DATOS EVENTO -->
  <form *ngIf="showEventForm" [formGroup]="eventForm">
    <div class="event-card">
      <h5 class="title">Modificar detalles del evento</h5>

      <div class="form-group ">
        <label class="event-details" for="title">Título:</label>
        <input type="text" id="title" name="title" formControlName="title">
        <div class="text-danger event-details"
          *ngIf="eventForm.get('title')?.hasError('required') && eventForm.get('title')?.touched">
          <span>El titulo es <strong>obligatorio</strong></span>
        </div>
        <div class="text-danger" *ngIf="eventForm.get('title')?.hasError('minlength')">
          <span>El titulo debe tener al menos 3 letras.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="event-details" for="date">Fecha:</label>
        <input type="date" id="date" name="date" formControlName="date">
        <div class="text-danger" *ngIf="eventForm.get('date')?.hasError('required') && eventForm.get('date')?.touched">
          <span>La fecha del evento es <strong>obligatoria</strong></span>
        </div>
      </div>
      <div class="form-group">
        <label class="event-details" for="startTime">Hora inicio:</label>
        <input type="time" id="startTime" name="startTime" formControlName="startTime">
      </div>
      <div class="form-group">
        <label class="event-details" for="endTime">Hora de fin:</label>
        <input type="time" id="endTime" name="endTime" formControlName="endTime">
      </div>

      <div class="form-group">
        <label class="event-details" for="capacity">Capacidad Máxima:</label>
        <input type="text" id="capacity" name="capacity" formControlName="capacity">
        <div class="text-danger"
          *ngIf="eventForm.get('capacity')?.hasError('required') && eventForm.get('capacity')?.touched">
          <span>El aforo máximo es <strong>obligatorio</strong></span>
        </div>
        <div class="text-danger"
          *ngIf="eventForm.get('capacity')?.hasError('nonNegativeNumber') && eventForm.get('capacity')?.dirty">
          <span>El aforo máximo debe ser un número no negativo.</span>
        </div>
      </div>

      <div class="form-group">
        <label class="event-details" for="type">Categoria:</label>
        <select id="type" name="type" formControlName="type">
          <option></option>
          <option>Artes escenicas y visuales</option>
          <option>Cultura</option>
          <option>Deporte</option>
          <option>Gastronomia</option>
          <option>Infantil</option>
          <option>Salud y Bienestar</option>
        </select>
      </div>
      <div class="form-group">
        <label class="event-details" for="location">Lugar:</label>
        <input type="text" id="location" name="location" formControlName="location">
        <div class="text-danger"
          *ngIf="eventForm.get('location')?.hasError('required') && eventForm.get('location')?.touched">
          <span>La localizacion es <strong>obligatoria</strong></span>
        </div>
        <div class="text-danger" *ngIf="eventForm.get('location')?.hasError('minlength')">
          <span>El titulo debe tener al menos 3 letras.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="event-details" for="description">Descripción:</label>
        <textarea id="description" name="description" formControlName="description" rows="6"></textarea>
        <div class="text-danger"
          *ngIf="eventForm.get('description')?.hasError('required') && eventForm.get('description')?.touched">
          <span>La descripción es <strong>obligatoria</strong></span>
        </div>
        <div class="text-danger" *ngIf="eventForm.get('description')?.hasError('minlength')">
          <span>El titulo debe tener al menos 3 letras.</span>
        </div>
      </div>

      <button class="btn btn-event" (click)="openDialogCustom(template2)" [disabled]="eventForm.invalid">Guardar
        Cambios</button>

      <!-- DIALOG / MODAL  -->
      <ng-template #template2>
        <div mat-dialog-content>Estas seguro/a que deseas realizar cambios en el evento?
          <div mat-dialog-actions>
            <button class="btn btn-event" mat-dialog-close>No</button>
            <button (click)="updateEvent()" (click)="showEventForm = false" [disabled]="!eventForm.valid" class="btn btn-event"
              mat-dialog-close>Si</button>
          </div>
        </div>
      </ng-template>

    </div>
  </form>
</div>