/* Establece un fondo de ancho completo */
.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7; /* Agrega un color de fondo */
  min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura del viewport */
  margin: 0; /* Elimina los márgenes por defecto del body */
  padding: 0; /* Elimina los espacios internos por defecto del body */
}

.text-background {
  color: #F97F51;
  background-clip: text;
}

h3 {
  font-size: 35px;
}

p {
  font-size: 25px;
}

/* Estilos para el carrusel */
.carousel-slide {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 20px;
  color: white;
}

.carousel-caption h3,
.carousel-caption p {
  margin: 0;
}
