/* Establece un fondo de ancho completo */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Establece el fondo azul para la mitad izquierda */
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenedor tenga al menos la altura del viewport */
  overflow: hidden; /* Evita que el color azul se extienda fuera del contenedor */
  position: relative; /* Establece posición relativa para posicionar el color azul */
}

.container-fluid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Mitad izquierda */
  height: 100%;
  background-color: #549eb9; /* Color azul para la mitad izquierda */
  z-index: -1; /* Coloca el fondo detrás del contenido */
}

/* Estilo del recuadro blanco para el texto */
.text-container {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 5%; /* Espacio a la izquierda (ajusta según tus preferencias) */
  transform: translateY(-50%); /* Centra verticalmente */
  width: 40%; /* Ancho del recuadro blanco (ajusta según tus preferencias) */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido en la parte superior */
  padding-left: 20px; /* Espaciado a la izquierda (ajusta según tus preferencias) */
}

.text-background {
  background-color: white;
  padding: 60px; /* Ajusta el espaciado según tus preferencias */
  text-align: center;
  color: black;
}

.image-container {
  width: 600px; /* Establece el ancho fijo del contenedor cuadrado */
  height: 600px; /* Establece la altura fija del contenedor cuadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Recorta cualquier contenido que exceda las dimensiones */
  margin-left: 300px;
  position: relative; /* Establece una posición relativa para posicionar elementos hijos */
}

.image-container img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al tamaño del contenedor */
  z-index: -1; /* Coloca la imagen en la capa inferior */
}

.abstract-shape {
  width: 200px; /* Ancho de la forma */
  height: 200px; /* Altura de la forma */
  background-color: #f7c459; /* Color de fondo mostaza */
  position: absolute; /* Establece una posición absoluta para posicionar la forma */
  top: 400px; /* Ajusta la posición vertical según tus preferencias */
  left: 1100px; /* Ajusta la posición horizontal para que esté detrás de la imagen */
  z-index: -2; /* Coloca la forma abstracta detrás de la imagen */
  transform: rotate(45deg) skewX(20deg); /* Aplica una rotación y una inclinación */
  border-radius: 20% 50% 30% 60% / 40% 30% 50% 20%; /* Define un borde irregular */
}




h3 {
  font-size: 35px;
  font-family: 'Raleway';
  color: #e08453;
}

p {
  font-size: 25px;
  font-family: 'Raleway';
  margin-top: 20px;
  line-height: 1; 
}


