<div class="title-container">
  <h3 class="main-title">Últimos eventos creados en Arenys</h3>
</div>

<div class="card-container">
  <div class="card" style="width: 18rem;" *ngFor="let event of listEvents">
    <img class="card-image" [style.background-image]="'url(' + event + ')'">
    <div class="card-body">
      <h5 class="card-title">{{ event.title | uppercase }}</h5>
      <p>Fecha: {{ event.date }}</p>
      <p>Tipo: {{ event.type }}</p>
      <a *ngIf="!userLoginOn" href="#" class="btn btn-primary" routerLink="/registro">Ir al evento</a>
      <a *ngIf="userLoginOn" href="#" class="btn btn-primary" routerLink="/ver-eventos">Ir al evento</a>
    </div>
  </div>
</div>



