.container-fluid {
  background-color: #FFF9F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  position: relative;
  font-size: 35px;
  font-family: 'Raleway';
  color: #435420;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #435420;
  transition: background-color 0.3s;
  margin: 5px;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

.card-body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #435420;
}

.card-body:hover {
  background-color: #435420;
  transform: scale(1.10);
}

.card-title {
  font-size: 25px;
  font-family: 'Raleway';
  color: #D1D3AA;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  font-family: 'Raleway';
  color: #FFF9F3;
}

.btn {
  font-family: 'Raleway';
  font-size: 15px;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  color: #f7c459;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
}

.spinner {
  --size: 30px;
  --first-block-clr: #f7c459;
  --second-block-clr: #435420;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {

  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {

  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}



/* Añade una media query para ajustar el diseño en tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {

  .card {
    width: 200px;
    height: 200px;
  }
}