.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
  position: relative;  
}
 
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
   border-radius: 50%; /* Hace que la tarjeta sea circular */
  width: 250px; /* Ancho deseado de la tarjeta circular */
  height: 250px; /* Asegura que la tarjeta sea cuadrada (mismo ancho y alto) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none; /* Quita la decoración de enlace */
  background-color: goldenrod; /* Color de fondo de la tarjeta */
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  }
  
  /* Asegura que cada tarjeta ocupe el ancho especificado y se alinee horizontalmente */
  .card-body {
    width: 100%; /* Cambia el valor según tus preferencias */
    margin: 0 auto; /* Para centrar el card-body horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #f9f9f9; */
    padding: 10px;
    background-color: goldenrod ; /* Color de fondo de la tarjeta */
  }

  .card-body:hover{
    background-color: #218c74;
  }
  
  


.card-title {
  margin-bottom: 10px;
  font-weight: bold;
  }
  
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border: none;
}

.btn:hover {
  background-color: #218c74;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}


