.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  position: relative;

  font-size: 35px;
  font-family: 'Raleway';
  color: #e08453;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {

  width: 200px;
  /* Ancho deseado de la tarjeta circular */
  height: 200px;
  /* Asegura que la tarjeta sea cuadrada (mismo ancho y alto) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* text-decoration: none; */
  /* Quita la decoración de enlace */
  background-color: #549eb9;
  /* Color de fondo de la tarjeta */
  margin: 20px;
  overflow: hidden;
  position: relative;
    /* Elimina las esquinas redondeadas y el borde */
    border-radius: 0; /* Hace que las esquinas sean cuadradas */
    border: none; /* Elimina el borde */
}

/* Asegura que cada tarjeta ocupe el ancho especificado y se alinee horizontalmente */
.card-body {
  width: 100%;
  /* Cambia el valor según tus preferencias */
  margin: 0 auto;
  /* Para centrar el card-body horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #f9f9f9; */
  padding: 10px;
  background-color: #549eb9;
  /* Color de fondo de la tarjeta */
}

.card-body:hover {
  background-color: #549eb9;
  transform: scale(1.10);
}




.card-title {
  margin-bottom: 10px;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: 'Raleway';
  color:white;


}

.btn {
  font-family: 'Raleway';
  font-size: 15px;

  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border: none;
}

.btn:hover {
  /* background-color: #549eb9; */
  transform: scale(1.05);
  /* transition: background-color 0.3s, transform 0.3s; */
}