.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

p{
  font-family: 'Raleway';
font-size: 16px;
}


.nav-link {
  background-color: #fad390;
  color: #ffffff;
}

.nav-link.active {
  background-color: #ffffff;
  color:#e08453;
}


.card-events {
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}


.event-card {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #549eb9;
  text-align: center;
  max-width: 800px; /* Ancho máximo deseado */
  height: 150px; /* Altura deseada */
}

.event-card:hover{
  background-color: #549eb9;
  transform: scale(1.08);
}


.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  font-family: 'Raleway';
}


.event-details {
  color: white;
  font-size: 16px;
  font-family: 'Raleway';
}

.btn {
  background-color: #e08453;
  color: white;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Raleway';
  font-size: 20px;
}

.btn:hover {
  background-color: #d46835;
  transform: translateY(-2px);
}

.btn-event {
  display: block;
  margin-left: auto;
  font-family: 'Raleway';
}


/* Añade una media query para ajustar el diseño en tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {
  /* Modifica el tamaño del título para pantallas más pequeñas */
  .title {
    font-size: 20px;
  }

  /* Modifica el tamaño de los detalles del evento para pantallas más pequeñas */
  .event-details {
    font-size: 14px;
  }

  /* Ajusta el ancho máximo de las tarjetas para pantallas más pequeñas */
  .event-card {
    max-width: 90%; /* Puedes ajustar esto según tus necesidades */
  }
}