<div class="container-fluid">
    <div class="form-container">
        <div class="card-events">
            <div>
                <span class="title">Calendario de Eventos</span>
                <button class="btn" routerLink="/crear-evento">Crear Evento</button>
            </div>
            <nav>
                <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
                    <button class="btn nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">Arte</button>

                    <button class="btn  nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">Cultura</button>

                    <button class="btn nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Deporte</button>

                    <button class="btn nav-link" id="nav-gastronomia-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-gastronomia" type="button" role="tab" aria-controls="nav-gastronomia"
                        aria-selected="false">Gastronomia</button>

                    <button class="btn nav-link" id="nav-infantil-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-infantil" type="button" role="tab" aria-controls="nav-infantil"
                        aria-selected="false">Infantil</button>

                    <button class="btn nav-link" id="nav-salud-tab" data-bs-toggle="tab" data-bs-target="#nav-salud"
                        type="button" role="tab" aria-controls="nav-salud" aria-selected="false">Salud y
                        Bienestar</button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!-- Filtrar los eventos por categoría "Arte" -->
                    <ng-container *ngIf="eventsByType[art] && eventsByType[art].length > 0; else noEventsArt">
                        <!-- Mostrar eventos de "Arte" -->
                        <div *ngFor="let event of eventsByType[art]" class="event-card">
                            <h5 class="card-title">{{ event.title | uppercase }}</h5>
                            <p class="event-details">Fecha: {{ event.date }}</p>
                            <p class="event-details">Lugar: {{ event.location }}</p>
                            <!-- <p>Imagen: {{ event.img }}</p> -->
                            <button class="btn btn-event btn-success" [routerLink]="['/event', event._id]">Ver
                                mas</button>
                        </div>
                    </ng-container>
                    <ng-template #noEventsArt>
                        <!-- Mensaje si no hay eventos de "Arte" -->
                        <p>No hay eventos disponibles en la categoría "Arte" en este momento.</p>
                    </ng-template>


                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <!-- Filtrar los eventos por categoría "Cultura" -->
                    <ng-container
                        *ngIf="eventsByType[culture] && eventsByType[culture].length > 0; else noEventsCuture">
                        <div *ngFor="let event of eventsByType[culture]" class="event-card">

                            <!-- Mostrar eventos de "Cultura" -->
                            <h5 class="card-title">{{ event.title | uppercase }}</h5>
                            <p class="event-details">Fecha: {{ event.date }}</p>
                            <p class="event-details">Lugar: {{ event.location }}</p>
                            <!-- <p>Imagen: {{ event.img }}</p> -->

                            <button class="btn btn-event btn-success" [routerLink]="['/event', event._id]">Ver
                                mas</button>

                        </div>
                    </ng-container>
                    <ng-template #noEventsCuture>
                        <!-- Mensaje si no hay eventos de "Cultura" -->
                        <p>No hay eventos disponibles en la categoría "Cultura" en este momento.</p>
                    </ng-template>
                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <!-- Filtrar los eventos por categoría "Deporte" -->
                    <ng-container *ngIf="eventsByType[sport] && eventsByType[sport].length > 0; else noEventsSport">
                        <div *ngFor="let event of eventsByType[sport]" class="event-card">
                            <!-- Mostrar eventos de "Deporte" -->
                            <h5 class="card-title">{{ event.title | uppercase }}</h5>
                            <p class="event-details">Fecha: {{ event.date }}</p>
                            <p class="event-details">Lugar: {{ event.location }}</p>
                            <button class="btn btn-event btn-success" [routerLink]="['/event', event._id]">Ver
                                mas</button>
                        </div>
                    </ng-container>
                    <ng-template #noEventsSport>
                        <!-- Mensaje si no hay eventos de "Deporte" -->
                        <p>No hay eventos disponibles en la categoría "Deporte" en este momento.</p>
                    </ng-template>
                </div>

                <!-- <div class="tab-content" id="nav-tabContent"> -->
                <div class="tab-pane fade" id="nav-gastronomia" role="tabpanel" aria-labelledby="nav-gastronomia-tab">
                    <!-- Filtrar los eventos por categoría "Gastronomia" -->
                    <ng-container
                        *ngIf="eventsByType[gastronomy] && eventsByType[gastronomy].length > 0; else noEventsGastronomy">
                        <div *ngFor="let event of eventsByType[gastronomy]" class="event-card">
                            <!-- Mostrar eventos de "Gastronomia" -->
                            <h5 class="card-title">{{ event.title | uppercase }}</h5>
                            <p class="event-details">Fecha: {{ event.date }}</p>
                            <p class="event-details">Lugar: {{ event.location }}</p>
                            <!-- <p>Imagen: {{ event.img }}</p> -->
                            <button class="btn btn-event btn-success" [routerLink]="['/event', event._id]">Ver
                                mas</button>
                        </div>
                    </ng-container>
                    <ng-template #noEventsGastronomy>
                        <!-- Mensaje si no hay eventos de "Deporte" -->
                        <p>No hay eventos disponibles en la categoría "Gastronomia" en este momento.</p>
                    </ng-template>
                </div>

                <div class="tab-pane fade" id="nav-infantil" role="tabpanel" aria-labelledby="nav-infantil-tab">
                    <!-- Filtrar los eventos por categoría "Infantil" -->
                    <ng-container
                        *ngIf="eventsByType[children] && eventsByType[children].length > 0; else noEventsChildren">
                        <div *ngFor="let event of eventsByType[children]" class="event-card">
                            <!-- Mostrar eventos de "Infantil" -->
                            <h5 class="card-title">{{ event.title | uppercase }}</h5>
                            <p class="event-details">Fecha: {{ event.date }}</p>
                            <p class="event-details">Lugar: {{ event.location }}</p>
                            <!-- <p>Imagen: {{ event.img }}</p> -->
                            <button class="btn btn-event btn-success" [routerLink]="['/event', event._id]">Ver
                                mas</button>
                        </div>
                    </ng-container>
                    <ng-template #noEventsChildren>
                        <!-- Mensaje si no hay eventos de "Deporte" -->
                        <p>No hay eventos disponibles en la categoría "Gastronomia" en este momento.</p>
                    </ng-template>
                </div>

                <div class="tab-pane fade" id="nav-salud" role="tabpanel" aria-labelledby="nav-salud-tab">
                    <!-- Filtrar los eventos por categoría "Salud y Bienestar" -->
                    <ng-container
                        *ngIf="eventsByType[wellness] && eventsByType[wellness].length > 0; else noEventsWellness">

                        <div *ngFor="let event of eventsByType[wellness]" class="event-card">
                            <!-- Mostrar eventos de "Salud y Bienestar" -->
                            <h5 class="card-title">{{ event.title | uppercase }}</h5>
                            <p class="event-details">Fecha: {{ event.date }}</p>
                            <p class="event-details">Lugar: {{ event.location }}</p>
                            <!-- <p>Imagen: {{ event.img }}</p> -->
                            <button class="btn btn-event btn-success" [routerLink]="['/event', event._id]">Ver
                                mas</button>
                        </div>
                    </ng-container>
                    <ng-template #noEventsWellness>
                        <!-- Mensaje si no hay eventos de "Deporte" -->
                        <p>No hay eventos disponibles en la categoría "Salud y Bienestar" en este momento.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>