.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFF9F3;
  padding-top: 130px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.nav-tabs {
  border-bottom: none !important;
}

p {
  font-family: 'Raleway';
  font-size: 16px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Raleway';
  font-weight: bold;
  color: #435420;
  font-size: 25px;
  letter-spacing: 2px;
}

.nav-link {
  color: #FFF9F3;
  font-size: 22px;
}

.nav-link.active {
  background-color: #FFF9F3;
  color: #435420;
  font-weight: bold;
}

.nav.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.event-card {
  padding: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #D1D3AA;
  text-align: center;
  max-width: 800px;
  height: 150px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.event-card:hover {
  background-color: #435420;
  transform: scale(1.08);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFF9F3;
  font-family: 'Raleway';
}

.event-details {
  color: #FFF9F3;
  font-size: 16px;
  font-family: 'Raleway';
}

.btn {
  background-color: #D1D3AA;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Raleway';
}

.btn-create-event {
  background-color: #D1D3AA;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Raleway';
  padding: 10px 20px;
  font-size: 15px;
}

.btn-create-event:hover {
  transform: translateY(-2px);
}

.btn:hover {
  background-color: #435420;
  color: #FFF9F3;
  transform: translateY(-2px);
}

.spinner {
  --size: 30px;
  --first-block-clr: #D1D3AA;
  --second-block-clr: #435420;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {

  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {

  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}


/* Añade una media query para ajustar el diseño en tamaños de pantalla más pequeños */
@media screen and (max-width: 830px) {

  .title {
    font-size: 20px;
  }

  .event-details {
    font-size: 14px;
  }

  /* Ajusta el ancho máximo de las tarjetas para pantallas más pequeñas */
  .event-card {
    max-width: 90%;
  }

  .nav.nav-tabs {
    flex-wrap: wrap;
    /* Permite que los títulos se envuelvan en pantallas pequeñas */
    justify-content: center;
  }

  .btn.nav-link {
    flex-basis: calc(33.33% - 10px);
    /* Divide igualmente en 3 columnas con espacio entre ellas */
    margin: 5px;
    /* Agrega margen entre los títulos */
  }
}


@media screen and (max-width: 770px) {

  /* Cambia la disposición de los botones de fila a columna */
  .nav.nav-tabs {
    flex-direction: column;
    width: 400px;
    /* Establece el ancho fijo que desees */
    margin: 5px;

  }




}