.container-fluid {
  background-color: #FFF9F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px auto;
}

.user-card {
  background-color: #435420;
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  font-family: 'Raleway';
  color: white;
  font-size: 16px;
  margin: 10px auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Raleway';
  font-weight: bold;
  color: #435420;
  font-size: 25px;
  letter-spacing: 2px;
}

.title-modify-data{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}

.btn {
  background-color: #e08453;
  color: white;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #d46835;
  transform: translateY(-2px);
}

.btn-calendar {
  margin: 50px;
  max-width: 100%;
  font-family: 'Raleway';
}

.btn-view-event {
  background-color: #435420;
  color: white;
  margin: 3px auto;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-view-event:hover {
  /* background-color: #d46835; */
  transform: translateY(-2px);
}


.error-message {
  color: #f7c459;
  font-size: 16px;
  margin-top: 5px;
}


/* Añade una media query para ajustar el diseño en tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {

  /* Modifica el tamaño del título para pantallas más pequeñas */
  .title {
    font-size: 20px;
  }

  /* Modifica el tamaño de los detalles del evento para pantallas más pequeñas */
  .event-details {
    font-size: 14px;
  }

  /* Ajusta el ancho máximo de las tarjetas para pantallas más pequeñas */
  .event-card {
    max-width: 90%;
    /* Puedes ajustar esto según tus necesidades */
  }
}