.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5DC;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .btn {
    margin: 5px;
    padding: 10px 20px; /* Ajusta el relleno para el tamaño del botón */
    background-color: #004225; /* Color de fondo del botón */
    border: none; /* Elimina los bordes por defecto */
    color: #FFB000; /* Color del texto en el botón */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.1s ease; /* Transiciones suaves */
  }
  
  .btn:hover {
    background-color: #004225; /* Cambia el color de fondo al pasar el cursor */
    transform: scale(1.05); /* Escala ligeramente el botón al pasar el cursor */
  }
  