<app-header></app-header>

<div class="container-fluid">

    <div class="image-container">
        <img src='../../../../assets/iglesia.jpg' alt="Imagen">
      </div>

        <div class="card ">
            <div class="card-title"><strong>Eventos Comunitarios en Arenys de Mar</strong></div>
            <div class="card-body">
                <p>En una sociedad que se sustenta por valores individualistas,
                    apostar por <strong>construir espacios en comun es revolucionario.</strong></p>
                <p> En este espacio pretendemos dar lugar y fortalecer los vinculos comunitarios a traves de lazos
                    sociales.</p>
            </div>

            <div class="card-text">
                <p> <i class="fa-solid fa-plant-wilt fa-lg"></i>Crecimiento personal</p>
                <p><i class="fa-solid fa-people-group"></i>Nuevas personas y realidades</p>
                <p><i class="fa-solid fa-peace"></i>Espacio libre de violencia</p>
                <p><i class="fa-solid fa-hand-holding-heart"></i>Acogida a los recienllegados</p>
                <p><i class="fa-solid fa-circle-info"></i>Acceso a la informacion</p>
                <p><i class="fa-solid fa-lightbulb"></i>Aspiraciones y conciencia grupal</p>
            </div>
          
        </div>

    </div>

<app-events-list></app-events-list>
