.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Asegura que el contenedor tenga al menos la altura del viewport */
  overflow: hidden;
  /* Evita que el color azul se extienda fuera del contenedor */
  position: relative;
  /* Establece posición relativa para posicionar el color azul */
}

.container-fluid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  /* Cambia el valor izquierdo al 50% para aplicar el fondo a la mitad derecha */
  width: 60%;
  /* Mitad derecha */
  height: 100%;
  background-color: #e08453;
  /* Color naranja para la mitad derecha */
  z-index: -1;
  /* Coloca el fondo detrás del contenido */
}

.card {
  background: transparent;
  border: none;
  width: 700px;
  height: 10px;
  font-family: 'Raleway';
  text-align: center;
  margin-left: 800px;
  /* Ajusta según tus preferencias */

}

/* Estilos para el título */
.card-title {
  font-size: 25px;
  color: white;
  font-family: 'Raleway';
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-indent: 2em;
  padding-top: 50px;
  font-weight: bold;
}

.card-body {
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 2px;
  padding-top: 50px;
}

.card-text {
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.card-text ul {
  list-style-type: none;
  /* Elimina los puntos de la lista */
  padding: 0;
  /* Elimina el relleno predeterminado de la lista */
  display: flex;
  /* Utiliza flexbox para distribuir los elementos horizontalmente */
  justify-content: flex-end;
  /* Alinea los elementos a la derecha */
  flex-wrap: wrap;
  /* Permite que los elementos de lista se envuelvan a la siguiente línea si no caben en el ancho */
}

.card-text ul i {
  margin-right: 10px;
  /* Espacio entre el ícono y el texto */
}

.card-text ul::before {
  content: "\2022";
  /* Agrega un marcador de viñeta personalizado */
  color: #e08453;
  /* Color naranja para el marcador de viñeta */
  display: inline-block;
  /* Alinea el marcador de viñeta con el texto */
  width: 1em;
  /* Espaciado entre el marcador de viñeta y el texto */
  margin-left: -1em;
  /* Mueve el marcador de viñeta hacia la izquierda para centrarlo */
}





.image-container {
  width: 600px;
  /* Establece el ancho fijo del contenedor cuadrado */
  height: 600px;
  /* Establece la altura fija del contenedor cuadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Recorta cualquier contenido que exceda las dimensiones */
  margin-left: 150px;
  position: relative;
  /* Establece una posición relativa para posicionar elementos hijos */
}

.image-container img {
  max-width: 100%;
  /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
  max-height: 100%;
  /* Ajusta la altura máxima de la imagen al tamaño del contenedor */
  z-index: -1;
  /* Coloca la imagen en la capa inferior */
}

/* Estilos para pantallas más pequeñas (ejemplo: dispositivos móviles) */
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .container-fluid::before {
    left: 0;
    width: 100%;
    height: 40%;
  }

  .card {
    width: 100%;
    margin-left: 0;
  }

  .card-title {
    text-align: center;
    margin: 0;
  }

  .card-body {
    text-align: center;
  }

  .card-text {
    text-align: center;
  }

  .image-container {
    width: 100%;
    height: auto;
  }
}