.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.container-fluid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  background-color: #e08453;
  z-index: -1;
}

.card {
  background: transparent;
  border: none;
  width: 500px;
  /* height: 10px; */
  font-family: 'Raleway';
  text-align: center;
  margin-left: 300px;
}

.card-title {
  font-size: 30px;
  color: white;
  font-family: 'Raleway';
  text-align: right;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.card-body {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 2px;
  padding-top: 50px;
}

.card-text {
  font-size: 16px;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.card-text p {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-text p i {
  margin-right: 10px;
}

.card-text p::before {
  content: "\2022";
  color: #e08453;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}




/* Estilos para pantallas más pequeñas (ejemplo: dispositivos móviles) */
@media (max-width: 990px) {
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #e08453; /* Cambia el fondo a naranja */
  }
  
  .container-fluid::before {
    display: none; /* Oculta el fondo adicional */
  }
  
  .card {
    background: transparent;
    border: none;
    width: 80%; /* Ajusta el ancho del div card según tu preferencia */
    font-family: 'Raleway';
    text-align: center;
 
    color: white; /* Texto en blanco */
    margin: 0 auto; /* Centra el card horizontalmente */
  }
  
  .card-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding-top: 20px; /* Ajusta el espacio superior según tu preferencia */
  }
  
  .card-body {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  .card-text {
    font-size: 14px;
    color: white; /* Texto en blanco */
    letter-spacing: 2px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px; /* Ajusta el espacio superior según tu preferencia */
  }
  

}