<!-- <app-navbar></app-navbar> -->
<app-header></app-header>

<div class="container-fluid">
    <div class="content">


        <div class="card">
            <div class="card-title">Eventos Comunitarios en Arenys de Mar</div>
            <div class="card-body">
                <p>En una sociedad que se sustenta por valores individualistas,
                    apostar por construir espacios en comun es revolucionario.</p>
                <p> En este espacio pretendemos dar lugar y fortalecer los vinculos comunitarios a traves de lazos
                    sociales.</p>
            </div>
            <div class="card-text">
                <span> <i class="fa-solid fa-plant-wilt fa-lg"></i>Crecimiento personal</span>
                <span><i class="fa-solid fa-people-group"></i> Conocer nuevas personas y realidades</span>
                <span><i class="fa-solid fa-peace"></i> Espacio libre de violencia</span>
                <span><i class="fa-solid fa-hand-holding-heart"></i> Acogida a los recienllegados</span>
                <span> <i class="fa-solid fa-circle-info"></i> Acceso a la informacion</span>
                <span><i class="fa-solid fa-lightbulb"></i> Impulsar el nivel de aspiraciones y conciencia grupal</span>
            </div>
        </div>
        <div class="image-container">
            <img src='../../../../assets/manos.jpg' alt="Imagen">
          </div>

    </div>
</div>


<app-events-list></app-events-list>
<app-footer></app-footer>