<!-- <app-navbar></app-navbar> -->
<app-header></app-header>

<div class="container-fluid">
    <div class="">
        <div class="card">
            <div class="card-title">Eventos Comunitarios en Arenys de Mar</div>
            <div class="card-body">
                <p>En una sociedad que se sustenta por valores individualistas,
                    apostar por <strong>construir espacios en comun es revolucionario.</strong></p>
                <p> En este espacio pretendemos dar lugar y fortalecer los vinculos comunitarios a traves de lazos
                    sociales.</p>
            </div>
            <div class="card-text">
                <ul> <i class="fa-solid fa-plant-wilt fa-lg"></i>Crecimiento personal</ul>
                <ul><i class="fa-solid fa-people-group"></i> Conocer nuevas personas y realidades</ul>
                <ul><i class="fa-solid fa-peace"></i> Espacio libre de violencia</ul>
                <ul><i class="fa-solid fa-hand-holding-heart"></i> Acogida a los recienllegados</ul>
                <ul> <i class="fa-solid fa-circle-info"></i> Acceso a la informacion</ul>
                <ul><i class="fa-solid fa-lightbulb"></i> Impulsar el nivel de aspiraciones y conciencia grupal</ul>
            </div>
        </div>
        
        <div class="image-container">
            <img src='../../../../assets/manosjuntas.jpg' alt="Imagen">
          </div>

    </div>
</div>


<app-events-list></app-events-list>
