.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFF9F3;
}

.form-container {
  padding: 20px;
  max-width: 100%;
  font-family: 'Raleway';
}

.login-details {
  color: #435420;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: bold;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Raleway';
  color: #435420;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bold;
}

.btn {
  background-color: #D1D3AA;
  color: #435420;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #D1D3AA;
  transform: translateY(-2px);
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #435420;
  border-radius: 4px;
  font-size: 16px;
}