section{
  background-color: rgba(250, 211, 144, 0.7);
}

.custom-row {
  justify-content: center; /* Centra horizontalmente los elementos */
  margin-left: 250px; /* Margen a la izquierda */
  margin-right: 10px; /* Margen a la derecha */
}

.social-icons {
  display: flex;
  gap: 10px; /* Espacio entre los íconos */
}

.social-icons a {
  text-decoration: none;
  color: inherit; /* Utiliza el color del texto heredado */
  cursor: pointer; /* Muestra el cursor como un puntero al pasar sobre los íconos */
}

.social-icons i {
  font-size: 20px; /* Tamaño del ícono */
}

.social-icons i:hover{
  transform: scale(1.1);
}

.vertical-container {
  padding: 10px;
}