<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="cc-text set-bg" data-setbg="img/contact-content-bg.jpg">
                        <div class="section-title">
                            <h4> <i class="fa-solid fa-location-dot"></i> Ubicación</h4>
                        </div>
                        <div class="cs-text">
                            <div class="ct-address">
                                <p> Arenys de Mar <br> 08350 <br />Barcelona</p>
                            </div>
                        </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="section-title">
                        <h4> Contacto</h4>
                    </div>
                    <i class="fa-solid fa-phone"></i> (+34) 666 66 66 66
                    <br>
                    <i class="fa-solid fa-envelope"></i>
                    info.synera@gmail.com
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="section-title">
                        <h4>Síguenos</h4>
                    </div>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/" target="_blank" title="Facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.twitter.com/" target="_blank" title="Twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
            </div>

        </div>
    </div>
</footer>